.App {
    width: 500px;
    height: calc(100vh - 2rem);
    padding: 1rem;
    margin: 1rem auto;
    background-color: rgba(236, 57, 61, 0.2);
    overflow: auto;

    h1 {
        font-size: 1.5em;
        text-align: center;
    }

    label {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        input {
            width: 250px;
            border: 1px solid black;
            box-shadow: none;
            appearance: none;
        }

        input.url {
            width: 100%;
            flex-grow: 1;
            margin-left: 1rem;
        }

        input:hover {
            background-color: gray;
        }

        input:focus {
            background-color: yellow;
            outline: none;
        }
    }

    .submit {
        margin-top: 1rem;
        text-align: center;
    }

    .results {
        margin-top: 1rem;
    }

    .loader {
        text-align: center;
        margin-top: 1rem;
    }
}
